.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.task-container{
    margin: 0.25rem 0;
    max-height: 100%;
    width: 500px;
    max-width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #1D1E18;
    color: white;
    border-radius: 10px;
}

.task-input-form{
    width: 176px;
}

.tasks{
    display: flex;
    padding: 0.5rem;
}

.task{
    text-align: left;
}

button{
    padding: 0.5rem;
    border: none;
    color: white;
    background: #29335c;
    border-radius: 5px;
    outline: none;
    margin: 5px;
}

.task-container button{
    background: #AAD2BA;
    color: black;
}   

@media (max-width: 500px){
    .form-container{
        margin: 1rem 2rem;
    }
    .task-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .task{
        align-self: center;
        text-align: justify;
    }
}
