.form-container{
    display: flex;
    margin: 0.5rem 0;
}

.task-container{
    margin: 0.25rem 0;
    padding: 0.5rem;
    max-height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    // background: black;
    background: #e8e9eb;
    color: black;
    border-radius: 2px;
}

.task-input-form{
    width: 171px;
    margin-right: 5px;
}

.input-form{
    height: 2rem;
}

.tasks{
    display: flex;
    padding: 0.5rem;
}

.task{
    text-align: left;
}

button{
    padding: 0.5rem;
    border: none;
    color: white;
    background: #29335c;
    border-radius: 5px;
    outline: none;
    
}

.task-container button{
    background: #a63a50;
    color: white;
}

.task-check{
    
}

@media (min-width: 1000px){
    .form-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 1200px;
    }    
}

@media (max-width: 999px){
    .form-container{
        flex-direction: column;
        justify-content: space-between;
    }
    .task-container{
        flex-direction: column;
        align-items: center;
    }
    
    .task{
        text-align: justify;
    }
}

@media (min-width: 550px){
    .task-container{
        width: 500px;
    }
}

@media (max-width: 549px){
    .task-container{
        margin: 1rem;
    }
}